/"goes in media query(0 to 599px)"/



/*Pls remove .missing-country class from this css*/

.missing-street, .missing-copname, .missing-city, .missing-country {
    width: 90%;
}


/*update this*/

.missing-fname{

   width:75%;
   margin-right:11px;
}

/*update this*/
.item-type{
    width:99%;
}

/*update this*/
.item-category{
    width:90.6%;
}
/*new*/
.missing-country{
     width:91%;
}
/*update this*/
.missing-mailing-addItem-btnholder a.button--white {
    width: 60%;
    margin-left: 15%;
}

