/"goes in media query(0 to 599px)"/
.missing-mailing-info-btnholder{
    display:block;
    margin-left:50px;
    margin-top:20px;
    width:60%;

}


.missing-mailing-info-btnholder a.button--primary{
     display:block;
     margin-top:20px;
       
}



.missing-mailing-addItem-btnholder a.button--white{
       width:60%;
       margin-left:50px;

}

